<div class= "h1">
  <h1><strong>Stupid coach</strong></h1>
</div>
<form action="answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>

